<h3 class="text-center">Tenencias</h3>
<hr class="m-t-10 m-b-40 m-linea-corta-centro">
<div class="row">
    <div *ngFor="let tenencia of tenencias" class="col-lg-3 col-md-6">
        <div class="card animated fadeIn">
            <div class="d-flex flex-row">
                <div class="p-10 " [ngClass]="tenencia.badge">
                    <h3 class="text-white box m-b-0"><i [ngClass]="tenencia.icono"></i></h3>
                </div>
                <div class="align-self-center m-l-20">
                    <h3 class="m-b-0" [ngClass]="tenencia.texto">{{ tenencia.total | currencyFormatPipe}}</h3>
                    <h5 class="text-muted m-b-0">{{ tenencia.nombre }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>