<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal" role="form" [formGroup]="forma" ngNativeValidate (ngSubmit)="save()">
                    <div class="form-body">
                        <h3 class="box-title">Datos del usuario #{{ usuario.id }}</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <i *ngIf="!usuario.foto" class="fa fa-user-circle fa-5x img-center" aria-hidden="true"></i>
                            <img *ngIf="usuario.foto" [src]="usuario.foto" class="img-circle img-center" />
                        </div>
                        <hr class="m-t-10 m-b-40 m-linea-corta-centro">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Nombre:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.nombre }} </p>
                                        <input *ngIf="isEdit" formControlName="nombre" name="nombre" type="text" class="form-control form-control-danger" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Apellido:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.apellido }} </p>
                                        <input *ngIf="isEdit" formControlName="apellido" name="apellido" type="text" class="form-control form-control-danger" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">DNI:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.dni }} </p>
                                        <input *ngIf="isEdit" formControlName="dni" name="dni" type="number" class="form-control form-control-danger" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">CIUL:</label>
                                    <div *ngIf="!isEdit" class="col-md-9">
                                        <p class="form-control-static"> {{ usuario.cuil }} </p>
                                    </div>
                                    <div *ngIf="isEdit" class="col-md-9" [ngClass]="{'has-danger': forma.controls.cuil.invalid && !forma.controls.cuil.pristine}">
                                        <input formControlName="cuil" name="cuil" type="number" class="form-control form-control-danger" required>
                                        <small class="form-control-feedback" *ngIf="forma.controls.cuil.invalid && !forma.controls.cuil.pristine">{{forma.controls.cuil.errors.cuitInvalid}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Teléfono:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.telefono }} </p>
                                        <input *ngIf="isEdit" formControlName="telefono" name="telefono" type="number" class="form-control form-control-danger">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Domicilio:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.domicilio }} </p>
                                        <input *ngIf="isEdit" formControlName="domicilio" name="domicilio" type="text" class="form-control form-control-danger">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" *ngIf="isEdit">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Foto:</label>
                                    <div class="col-md-9">
                                        <app-img-upload [llamadoPor]="clase" (onUpload)="onUpload($event)">
                                        </app-img-upload>
                                        <input formControlName="foto" name="foto" type="url" class="form-control form-control-danger">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Fecha de Nacimiento:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.fecha_nacimiento | date: 'dd/MM/yyyy' }} </p>
                                        <input *ngIf="isEdit" formControlName="fecha_nacimiento" name="fecha_nacimiento" type="date" class="form-control form-control-danger">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Usuario:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.username }} </p>
                                        <input *ngIf="isEdit" formControlName="username" autocomplete="username" name="username" type="text" class="form-control form-control-danger" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Correo:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.email }} </p>
                                        <input *ngIf="isEdit" formControlName="email" autocomplete="email" name="email" type="email" class="form-control form-control-danger" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Contraseña:</label>
                                    <p *ngIf="!isEdit" class="col-md-9 form-control-static"> ***** </p>
                                    <div *ngIf="isEdit" class="col-md-9">
                                        <div class="input-group">
                                            <input formControlName="password" autocomplete="new-password" name="password" type="password" class="form-control form-control-danger" required>
                                            <div class="input-group-addon btn btn-outline-secondary" data-toggle="modal" data-target="#responsive-modal-password" (click)="cambiarPassword()">
                                                <span><i class="fa fa-key"></i> Cambiar </span>
                                            </div>
                                        </div>
                                        <app-password-strength-bar [passwordToCheck]="forma.controls.password.value"></app-password-strength-bar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Fecha alta:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.fecha_alta | date: 'dd/MM/yyyy' }} </p>
                                        <input formControlName="fecha_alta" name="fecha_alta" *ngIf="isEdit" type="date" class="form-control form-control-danger" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="usuario.fecha_baja">
                                <div class="form-group row animated fadeIn">
                                    <label class="control-label text-right col-md-3">Fecha baja:</label>
                                    <div class="col-md-9">
                                        <p *ngIf="!isEdit" class="form-control-static"> {{ usuario.fecha_baja | date: 'dd/MM/yyyy' }} </p>
                                        <input formControlName="fecha_baja" name="fecha_baja" *ngIf="isEdit" type="date" class="form-control form-control-danger" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row animated fadeIn">
                                    <div class="col-md-offset-3 col-md-9 btn-group">
                                        <button type="button" *ngIf="!isEdit" class="btn btn-danger" (click)="toEdit()">
                      <i class="fa fa-pencil"></i>Editar</button>
                                        <button type="submit" *ngIf="isEdit" class="btn btn-success" [disabled]="isSaving || !isDisabled">
                      <i class="fa fa-check"></i> Guardar</button>
                                        <button type="button" class="btn btn-inverse" (click)="goBack()">Atrás</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-------------------------- MODAL CAMBIAR CONTRASEÑA -------------------------->
    <div id="responsive-modal-password" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar Contraseña</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="passwordForma" ngNativeValidate>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Contraseña Anterior:</label>
                            <input type="password" class="form-control" formControlName="oldPassword" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Contraseña Nueva:</label>
                            <input formControlName="password" autocomplete="new-password" name="password" type="password" class="form-control form-control-danger" required>
                            <app-password-strength-bar [passwordToCheck]="passwordForma.controls.password.value"></app-password-strength-bar>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirmar Contraseña:</label>
                            <input formControlName="password2" autocomplete="new-password" name="password2" type="password" class="form-control form-control-danger" required>
                            <small class="form-control-feedback text-danger" *ngIf="passwordForma.errors?.sonIguales && !passwordForma.controls.password2.pristine">Las contraseñas no son iguales</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" (click)="savePassword()" class="btn btn-success waves-effect waves-light" [disabled]="isSaving || passwordForma.invalid" data-dismiss="modal">
                            <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>